$font-jua:'Jua','sans-serif';
@mixin flex-row{
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
}
$white:#fff;
@mixin title-font{font-size:3.25rem; font-family:$font-jua; line-height:1.4;}
@mixin layout {margin:80px auto;}
@mixin sub_ti_font{font-family: $font-jua; font-size:1.5rem;}
@mixin sub_ti_font2{font-family: $font-jua; font-size:2rem; line-height:1.4;}
@mixin box_layout {padding:30px 30px;}


header {
    position:fixed; left:0; top:0; z-index:999;
    // background-color: aquamarine; 
    background:linear-gradient(0deg, rgba(255,255,255,0.5) , transparent);
    width:100%; height:100px; padding:0 15px;
    @include flex-row;
    h1 {width:150px;
        a{img{width:100%;}}
    }
    .right {@include flex-row;
        .app {
            font-family:$font-jua;
            border:2px solid #fff; border-radius:20px;
            padding:15px 25px;
            color:#fff; margin-right:10px;
        }
        .all_nav{
            span {
                display:block; width:30px; height:5px;
                background-color: #fff;
                border-radius:20px;
            }
            span:nth-child(1) {}
            span:nth-child(2) {margin:5px 0;}
            span:nth-child(3) {}
        }
    }
}//e:header

main {
    width:100%;
    .visual{
        height:100vh; overflow:hidden;position:relative;
        .contents {
            position:relative; z-index:110;
            text-align:center;
            // background: pink;
            padding-top:300px;
            h1{@include title-font; color:$white;margin-bottom: 20px;}
            p{color:$white; margin-bottom:80px; line-height:1.6;}
            .app{
                background-color: $white;
                padding:20px 100px;
                @include sub_ti_font;
                border-radius:50px; 
                
            }
        }
        video {
            position:absolute; left:50%; top:0;
            width:130%; z-index:100;
            transform:translate(-50%,0);
        }
        .page_down {
            position:absolute; z-index:110;
            // background-color: aqua;
            width:100%; left:0; bottom:100px; text-align:center;
        }
    }
    .visual::after {
        content:''; display:block; width:100%; height:100%;
        background: linear-gradient(0deg,rgba(0,0,0,0.5), transparent);
        position:absolute; left:0; top:0; z-index:105;
    }
    .event_wrap {
        // background: aquamarine; 
        width:1200px; @include layout;
        h1 {@include title-font;}
        p {margin-bottom:20px;}
        .more {font-family:$font-jua;}
        .slide_wrap {
            .slide_container{
                display:grid; 
                grid-template-columns: repeat(3,1fr);
                grid-template-rows:280px;
                margin-top:100px;
                .slide {
                    margin-right:5px;
                    border-radius:20px; 
                    background-repeat:no-repeat;
                    background-size:70%;
                    background-position:right bottom;
                    @include box_layout;
                    h2 {
                        @include sub_ti_font2;}
                    p {}
                    .more {position:relative; top:60px;}
                }
                .slide1 {background-color:#ffe552; background-image:url(../images/event_image_0_20221028085348_35465.png);}
                .slide2 {background-color:#b2e9de; background-image:url(../images/event_image_0_20221028085704_61822.png);}
                .slide3 {background-color:#ffcfd8; background-image:url(../images/event_image_3_20221105015010_49282.png); margin-right:0;}
            }//e:slide_container
        }//e:slide_wrap
    }//e:event_wrap
    .why_wrap {
        background-color: aqua;
        width:1200px; @include layout;
        h1 {@include title-font;}
        p {margin-bottom:20px;}
        .more {
            span {font-family:$font-jua;
                img {}
            }
        }
        .slide_container {
            @include flex-row();
            .slide {
                height:270px; width:18%;
                background-repeat:no-repeat;
                background-size:cover;
                margin-right:5px;
                border-radius:20px;
                h2 {font-family:$font-jua; font-size:1.1rem; text-align:center;}
                .play {width:100%;}
            }
            .slide1 {
                background-image:url(../images/thumbnail_image_1_20221104060651_67302.jpeg);
            }
            .slide2 {background-image:url(../images/thumbnail_image_2_20221104060915_64092.jpeg);}
            .slide3 {background-image:url(../images/thumbnail_image_3_20221104060928_38608.jpeg);}
            .slide4 {background-image:url(../images/thumbnail_image_4_20221104060946_71750.jpeg);}
            .slide5 {background-image:url(../images/thumbnail_image_5_20221104060955_15559.jpeg);}
        }
    }
}//e:main 